@model IEnumerable<WebMicrowaveLine.Models.User>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
    <h2>@Localizer["UserName"]</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">@Localizer["AccessRights"]</a>
            </td>
        </tr>
    }
</table>